{{#each yourPosts as |yourPost| }}
<div class="body">
    {{!-- Cycle through all Post posts --}}
    <div class="header">
        <div class="yourPost">
            <a href="">{{yourPost.title}}</a>
            <p>Posted by {{yourPost.username}} on {{yourPost.datePosted}}</p>
        </div>
        <p>{{yourPost.content}}</p>
    </div>
</div>
{{/each}}