{{#each myPosts as |myPost| }}
<div class="body">
    {{!-- Cycle through all Post posts --}}
    <div class="header">
        <div class="myPost">
            <a href="">{{myPost.title}}</a>
            <p>Posted by {{myPost.username}} on {{myPost.datePosted}}</p>
        </div>
        <p>{{myPost.content}}</p>
    </div>
</div>
{{/each}}