{{#each yourBlogs as |yourBlog| }}
<div class="body">
    {{!-- Cycle through all blog posts --}}
    <div class="header">
        <div class="blogPost">
            <a href="">{{yourBlog.title}}</a>
            <p>Posted by {{yourBlog.username}} on {{yourBlog.datePosted}}</p>
        </div>
        <p>{{yourBlog.content}}</p>
    </div>
</div>
{{/each}}