{{!-- {{#each posts as |post| }} --}}
<div class="body">
    {{!-- Cycle through all post posts --}}
    <div class="header">
        <div class="post">
            <a href="">Post.title</a>
            <p>Posted by post.name on post.datePosted</p>
        </div>
        <p>post.content</p>
    </div>
</div>
{{!-- {{/each}} --}}