<div class="body">
    <div class="header">
        <h3>Log In</h3>
    </div>
    <div class="login-form">
        <p>Username</p>
        <input class="loginName" type="text">
        <p>Password</p>
        <input class="loginPass" type="text">
        <button class="loginBtn">Submit</button>
        <a href="/signup">Or Sign Up Here</a>
    </div>
</div>