<div class="body">
    <div class="header">
        <h3>Sign Up</h3>
    </div>
    <div>
        <p>Username</p>
        <input type="text">
        <p>Password</p>
        <input type="text">
        <button class="signup">Submit</button>
        <a href="/login">Or Log In Here</a>
    </div>
</div>