i {
  margin: 5px 0px;
}

.home {
  color: blue;
}

.dash {
  color: purple;
}

.signup {
  color: orange;
}

.login {
  color: green;
}

.logout {
  color: red;
}

.brand {
  font-family: "Fira Sans", sans-serif;
  letter-spacing: 0.05em;
  background: linear-gradient(135deg, rgb(80, 0, 80), purple, red, yellow);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.nav-item {
  color: black;
  margin: 0px 10px 0px 10px;
}

.commentBtn {
  color: teal;
}
