.container-flex {
  background: rgba(245, 245, 220, 0.15);
}

i {
  margin: 5px 0px;
}

hr {
  width: 25%;
}

.home {
  color: blue;
}

.dash {
  color: purple;
}

.signup {
  color: black;
}

.login {
  color: green;
}

.logout {
  color: red;
}

.brand {
  font-family: "Fira Sans", sans-serif;
  letter-spacing: 0.04em;
  background: linear-gradient(120deg, black, rgb(80, 0, 80), rgb(80, 0, 80), purple, purple, red, red, orange, yellow);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.nav-item {
  color: black;
  margin: 0px 10px 0px 10px;
}

.commentBtn {
  color: teal;
}
